@page "/servers"
@inject NavigationManager navigationManager

@rendermode InteractiveServer

<h3>Servers</h3>
<br />


<CityListComponent></CityListComponent>

<br />


<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search Serves" @bind-value="serverFilter" @bind-value:event="onInput" />
    <button class="btn btn-outline-secondary" type="button" id="button-search" @onclick="HandleSearch">Search</button>

</div>

<br />

<ServerListComponent @rendermode="InteractiveServer" CityName="Toronto" ></ServerListComponent>


<p>
    <a href="/server/add" class="btn btn-primary">Add</a>
</p>

@* <p>
    <button class="btn btn-secondary" @onclick="@(() => {
            this.servers.Insert(0 , new Server { Name = "ServerA" , City = "Toronto"});
            })">
        Add Server 2
    </button>
</p> *@


@code {
  
    
   

    private string _serverFilter = "";
    private string serverFilter
    {
        get => _serverFilter; set
        {
            _serverFilter = value;
            //this.servers = ServersRepository.SearchServers(_serverFilter);
        }

    }

    private void DeleteServer(int id)
    {
        if (id > 0)
        {
            ServersRepository.DeleteServer(id);
            navigationManager.NavigateTo("/servers");
        }
    }

    

    private void HandleSearch()
    {
       // this.servers = ServersRepository.SearchServers(serverFilter);
       // this.selectedCity = string.Empty;
    }
}
